@keyframes fadeInOut
{
from {opacity:0}
to {opacity: 1;}
}
@-webkit-keyframes fadeInOut
{
from {opacity:0}
to {opacity: 1;}
}
@keyframes animateTop
{
from {opacity:0;transform: translate(0,-1rem);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes animateTop
{
  from {opacity:0;-webkit-transform: translate(0,-1rem);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowRight5
{
from {opacity:0;transform: translate(5rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowRight5
{
  from {opacity:0;-webkit-transform: translate(5rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowRight10
{
from {opacity:0;transform: translate(10rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowRight10
{
  from {opacity:0;-webkit-transform: translate(10rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowRight20
{
from {opacity:0;transform: translate(20rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowRight20
{
  from {opacity:0;-webkit-transform: translate(20rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowRight30
{
from {opacity:0;transform: translate(30rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowRight30
{
  from {opacity:0;-webkit-transform: translate(30rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowRight40
{
from {opacity:0;transform: translate(40rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowRight40
{
  from {opacity:0;-webkit-transform: translate(40rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}


@keyframes flowLeft10
{
from {opacity:0;transform: translate(-10rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowLeft10
{
  from {opacity:0;-webkit-transform: translate(-10rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowLeft20
{
from {opacity:0;transform: translate(-20rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowLeft20
{
  from {opacity:0;-webkit-transform: translate(-20rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
@keyframes flowLeft30
{
from {opacity:0;transform: translate(-30rem,0);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowLeft30
{
  from {opacity:0;-webkit-transform: translate(-30rem,0);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}

@keyframes flowTop20
{
from {opacity:0;transform: translate(0rem,20rem);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes flowTop20
{
  from {opacity:0;-webkit-transform: translate(0rem,20rem);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}


@keyframes narrow2
{
from {opacity:0;transform: scale(0.2,0.4);}
to {opacity: 1;transform: scale(1,1);}
}
@-webkit-keyframes narrow2
{
  from {opacity:0;-webkit-transform: scale(0.2,0.4);}
  to {opacity: 1;-webkit-transform: scale(1,1);}
}

@keyframes swipeUp
{
from {opacity:1;transform: translate(0,0);}
to {opacity: 1;transform: translate(0,-100%);}
}
@-webkit-keyframes swipeUp
{
  from {opacity:1;-webkit-transform: translate(0,0);}
  to {opacity: 1;-webkit-transform: translate(0,-100%);}
}

@keyframes swipeDown
{
from {opacity:1;transform: translate(0,-100%);}
to {opacity: 1;transform: translate(0,0);}
}
@-webkit-keyframes swipeDown
{
  from {opacity:1;-webkit-transform: translate(0,-100%);}
  to {opacity: 1;-webkit-transform: translate(0,0);}
}
